<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Yo</title>
        <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
        <link href="css/reset.css" rel="stylesheet" />
        <link href="css/base.css" rel="stylesheet" />
    </head>
    <body>
        <div class="container">  
            {{ content }}
        </div>
    </body>
</html>